body {
    height: 100vh;
    margin: 0;
    background-color: #454d55;
    color: #ffebcd;
    text-align: center;
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
   }
ul {
    margin-left: 0;
    padding-left: 0;
}